<div class="category-articles">
  <% if @articles.empty? %>
    <div class="no-content">
      <h1 class="category-title">Category: <%= @category.name%> </h1>
      <h2>No Articles to show</h2>
    </div>
  <% else %>
    <% @articles.each do |article| %>
      <article>
        <figure>
          <%= article.image.exists? ? image_tag(article.image.url) : image_tag("https://source.unsplash.com/random") %>
        </figure>
        <div class="article-content">
          <div>
            <h2 class="category-title"><%= @category.name%> </h2>
            <h2 class="article-title"><%= article.title %></h2>
            <h4 class="author">by <%= article.user.name.capitalize %> </h4>
            <p class="article-body"> <%= article.body.truncate(300)%> </p>
            <div class="article-votes">
              <% if logged_in? %>
                <% vote = article.votes.find_by(user: current_user)%>
                <% if vote %>
                  <%= button_to "unvote", article_vote_path(article_id: article.id), method: :delete  %>
                <% else %>
                  <%= button_to "vote", article_vote_index_path(article_id: article.id)%>
                <% end %>
                
              <% else %>
                <%= button_to "vote", {}, {disabled: true}%>
              <% end %>
              <span>
                <%= article.votes.size==1 ? "1 vote" : "#{article.votes.size} votes" %>
              </span>
            </div> 
          </div>
        </div>
      </article>
    <% end %>
  <% end %>
</div>
