<!DOCTYPE html>
<html>
  <head>
    <title>Quarantine Stories</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="d-flex nav top-nav">
        <ul>
          <li><%= link_to image_tag("logo/logonav.png",  alt: "Logo"), root_path , class:  "logo" %></li>
        </ul>
        <ul class="d-flex">
          <li><%= link_to "HOME", root_path %></li>
          <% five_categories.each do |cat|  %>
            <li> <%= link_to cat.name.upcase, category_path(cat)%> </li>
          <% end if !five_categories.empty? %>
          <% if all_categories.size > 6 %>
            <li> <%= link_to "ALL CATEGORIES", "#"%> </li>
          <% end %>
        </ul>
        <ul class="d-flex">
        <% if logged_in? %>
          <li class="multi-li"> <%=  link_to current_user.name.capitalize,  root_path%> <span><%= image_tag("down-arrow.svg", alt: "down arrow",class: "down-arrow")%></span> 
            <ul>
              <li> <%= link_to "Create Article", new_article_path %> </li>
              <li> <%= link_to "Create Category", new_category_path %> </li>
            </ul>
          </li>
          <li><%= link_to "LOGOUT", logout_path %></li>
        <% else %>
          <li> <%= link_to "SIGN IN", login_path %> </li> |
          <li> <%= link_to "SIGN UP", signup_path %> </li>
        <% end %>
          <li><%= link_to image_tag("search.svg"), "#",  class: "search" %></li>
        </ul>
      </nav>
    </header>
    <% flash.each do |name, msg| %>
      <% if notice.present? %>
        <div class="notice">
          <p> <%= msg %> </p>
        </div>
      <% elsif alert.present? %>
        <div class="alert">
          <p> <%= msg %> </p>
        </div>
      <% end %>
    <% end if !flash.empty? %>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="nav d-flex">
        <ul>
          <li><%= link_to "Quarantine Stories", root_path , class:  "logo" %></li>
        </ul>
        <div class="d-flex">
          <ul class="d-flex">
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            <li>
              <a href="#">Terms and conditions</a>
            </li>
          </ul>
          <span>Copyright &copy;2020. All rights reserved</span>
        </div>
        <div class="d-flex">
          <span>Connect with us:</span>
          <ul class="d-flex">
            <li><%= link_to image_tag("twitter.svg",  alt: "Twitter Icon"), root_path , class:  "social" %></li>
            <li><%= link_to image_tag("instagram-sketched.svg",  alt: "Instagram Icon"), root_path , class:  "social" %></li>
            <li><%= link_to image_tag("facebook.svg",  alt: "Facebook Icon"), root_path , class:  "social" %></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
