<!DOCTYPE html>
<html>
  <head>
    <title>Quarantine Stories</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "Quarantine Stories", root_path %></li>
      </ul>
      <ul>
        <% all_categories.each do |cat|  %>
          <li> <%= link_to cat.name, category_path(cat)%> </li>
        <% end if !all_categories.empty? %>
      </ul>
      <ul>
        <li><a href="#">Sign In</a></li>
        <li> <%= link_to "Sign up", signup_path %> </li>
      </ul>
    </nav>
    <% flash.each do |name, msg| %>
      <div class="alert" role="alert">
        <%= msg %>
      </div>
    <% end %> 
    <%= yield %>
  </body>
</html>
